*.o
*.Po
*.a
*.log
*.in~
*~
.deps/
.libs/
config.h.in~
Makefile
config.h
config.log
config.status
stamp-h1
autom4te.cache/
*atlantisMerged
*atlantisMerged.pc
.DS_Store
atlantis/.DS_Store
.DS_Store
.DS_Store
Trunk2025.xcworkspace/xcuserdata/ful083.xcuserdatad/UserInterfaceState.xcuserstate
