# Workflow to build atlantis test
name: build and run SETAS example 1

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  SETAS1_Linux:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write

    steps:
    
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Ensures all branches and tags are fetched

      - name: Store branch name as a variable
        run: |
          MY_BRANCH=$(git branch --show-current)
          echo "CURRENT_BRANCH = $MY_BRANCH" >> $GITHUB_ENV
          echo "MY BRANCH: $MY_BRANCH"
          echo "CURRENT_BRANCH: $GITHUB_ENV"
        shell: bash



      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2.0'


      - name: Compile and Run Atlantis in Ubuntu 18.04 using Docker
        run: |
          docker run --rm -v $(pwd):/workspace -w /workspace ubuntu:18.04 bash -c "
          TZ=America/New_York &&
          ln -snf /usr/share/zoneinfo/$TZ /etc/localtime && echo $TZ > /etc/timezone &&
          apt-get update && 
          apt-get install  -yq build-essential autoconf libnetcdf-dev libxml2-dev libproj-dev subversion valgrind dos2unix gawk nano r-base &&
          cd atlantis && aclocal && autoheader && autoconf && automake -a && ./configure --enable-rassesslink && make && make install &&
          echo 'Now run the model!' &&
          cd ../example &&
          atlantisMerged -i INIT_VMPA_Jan2015.nc 0 -o outputSETAS.nc -r VMPA_setas_run_fishing_F_Trunk.prm -f VMPA_setas_force_fish_Trunk.prm -p VMPA_setas_physics.prm -b VMPA_setas_biol_fishing_Trunk.prm -m SETas_Migrations.csv -h VMPA_setas_harvest_F_Trunk.prm  -s SETasGroupsDem.csv -q SETasFisheries.csv -d testFolder 2>out.txt 
          "
        shell: bash

      - name: print log
        run: |
          cat example/testFolder/log.txt
        shell: bash
      
      - name: print console
        run: |
          cat example/out.txt
        shell: bash

      - name: Parse and Validate
      # read in log file and check for "Atlantis Done" + other related tests to
      # check why Atlantis may have failed
        run: |
          source("data-raw/tests.r")
          tests()
        shell: Rscript {0}

      - name: Write out log file
        run: |
          cat example/testFolder/log.txt
        shell: bash
  